:root {
  --black: black;
  --ink: #062f4f;
  --posy: #813772;
  --ember: #b82601;
  --white: tan;
  --heavy-font: "skolar-latin-regular", "montserrat", sans-serif;
  --light-font: "proxima-nova-light", "courier-new", sans-serif;
}

/* items in header */
  header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: var(--black);
    color: var(--white);
  }

  /* style for my name */
  .first-letter {
    color: var(--posy);
  }
  
  h1 {
    font-size: 200%;
    margin-left: 10px;
    background-color: var(--ink);
    border-style: solid;
    font-family: var(--heavy-font);
  }

  /* style for links for about, work and contact */
  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 200px;
    margin-right: 10px;
  }

  nav li {
    list-style: none;
    font-family: var(--light-font);
  }

  a {
    color: var(--white);
    text-decoration: none;
  }
    
  /* Items is everything in main */
  main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  /* Words for the opener message */
  h2 {
    font-size: 50px;
    font-style: var(--heavy-font);
    background-color: var(--ink);
  }

  .portfolio-letters {
    color: var(--white);
  }

  /* box for the opener message */
  .about {
    display: flex;
    flex-direction: row;
  }
  
  .opener {
    flex: 60%;
    font-size: 150%;
    background-color: var(--posy);
  }

  /* Image for the opener message */
  .profile-img {
    flex: 30%;
    width: 90px;
    height: auto;
  }

  /* words for work section */
  .work-section {
    display: flex;
  }

  .work-letters {
    padding: 20px;
    border-style: none solid none none;
    font-size: 300%;
  }

  /* images for work section */
  .web-imges {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  .column {
    flex: 30%;
    max-width: 60%;
    padding: 0 4px;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  .app-img {
    max-width: 100%;
    height: auto;
    padding: 15px;
  }

  #coming-soon {
    max-width: 100%;
    height: auto;
    padding: 15px;
  }

  img:hover {
    cursor: help;
    position: relative;
    background-color: var(--ink);
}
  
/*contact section*/
  h3 {
  font-size: 100%;
  }

  article {
    margin: 2% 0;
    font-size: 110%;
  }

  h3 {
    font-size: 50px;
    font-style: var(--heavy-font);
    color: var(--white);
    background-color: var(--ink);
  }

  /* Items in footer */
  footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: var(--black);
    color: var(--white);
  }

  /* Items for responsive web page */
  @media screen and (max-width: 950px) {
    .about-section {
      align-items: center;
    }
  }

  @media screen and (max-width: 840px) {
    .work-section,
    .column {
      flex-direction: column;
      border-style: solid none;
    }
  }

  @media screen and (max-width: 875px) {
    .profile-img {
      max-width: 240px;
      max-height: 340px;
    }
  }
  
  @media screen and (max-width: 700px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
    .header {
      flex-direction: column;
      background-color: var(--posy);
      color: var(--black);
    }
    ul {
      display: flex;
      position: fixed;
      top: 0px;
      right: 0px;
    }
  }

  @media screen and (max-width: 685px) {
    .profile-img {
      max-width: 140px;
      max-height: 140px;
    }
  }

  @media screen and (max-width: 400px) {
    .work-letters, 
    h1,
    .column {
      flex: 25%;
      font-size: 200%;
      padding: 0%;
    }
  }