/*:root {}
    /* declare a variable with `--` syntax */

/* items in header */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    /* use CSS var() function to reference a variable created above */
    background-color: tan;
    color: white;
  }
  
  h1 {
    font-size: 300%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 200px;
  }

  nav li {
    background-color: unset;
    color: white;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  
    
  /* Items in main */
  main {
    display: flex;
    flex-direction: column;
    max-width: 96%;
    margin: 2% auto;
  }

  section {
    display: inline-flex;
  }

  .about img {
    background-color: red;
    width: 90px;
    height: auto;
    padding: 20px;
    border: 1px solid black;
  }

  .work img {
    display: flex;
    background-color: #fff;
    width: 90px;
    height: auto;
    padding: 20px;
    border: 1px solid black;
  }
  
  h2 {
    margin: 2% 0;
    font-size: 100%;
  }

  article {
    /* If we were to change the value of `--dark`, then all references to it would change automatically */
    font-size: 110%;
  }

  /* Items in footer */
  footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: tan;
    color: white;
  }